include LICENSE
include README.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude examples *

recursive-include documents *.cff
recursive-include documents *.md
recursive-include neuralplayground *.md
